@media screen and (min-width: 1024px) {
  body {
    padding: 2rem 5rem;
  }
}
@media screen and (max-width: 1023px) {
  body {
    padding: 2rem;
  }
  table {
    max-width: 100%;
  }
  section {
    max-width: 100%;
  }
}

:root {
  --bg-color: #f0f0f0;
  --secondary-color: #30363d;
  --txt-color: #0d1117;
  --txt-secondary-color: gray;
  --progress-bar-color: #287ee1;
  --full-progress-bar-color: green;
  --reset-button-color: #c20707;
  --preset-button-color: #dcf2b9;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

table {
  border-collapse: collapse;
  border: 1px solid var(--txt-secondary-color);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

td,
th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--txt-secondary-color);
}

input[type="number"] {
  width: 3rem;
}

input[type="number"].zero {
  color: var(--txt-secondary-color);
}

progress {
  accent-color: var(--progress-bar-color);
}
progress.full {
  accent-color: var(--full-progress-bar-color);
}

button {
  cursor: pointer;
  outline: 0;
  display: inline-flex;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button:hover {
  filter: brightness(0.9);
}

.reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-button {
  color: white;
  background-color: var(--reset-button-color);
  border-color: var(--reset-button-color);
}

.preset-button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.preset-button {
  color: black;
  background-color: var(--preset-button-color);
  border-color: var(--preset-button-color);
}
.preset-button > div.images > img {
  width: 20px;
  height: 20px;
}
