@media screen and (min-width: 1024px) {
  body {
    padding: 2rem 5rem;
  }
}
@media screen and (max-width: 1023px) {
  body {
    padding: 2rem;
  }
  table {
    max-width: 100%;
  }
  section {
    max-width: 100%;
  }
  footer {
    max-width: 100%;
  }
}

:root {
  --bg-color: #f0f0f0;
  --secondary-color: #30363d;
  --txt-color: #0d1117;
  --txt-alt-color: #c9d1d9;
  --txt-secondary-color: gray;
  --range-color: #287ee1;
  --progress-bar-color: #287ee1;
  --full-progress-bar-color: green;
  --reset-button-color: #c23a3a;
  --preset-button-color: #dcf2b9;
  --link-button-color: #cca9d3;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--bg-color);
  color: var(--txt-color);
}

table {
  border-collapse: collapse;
  border: 1px solid var(--txt-secondary-color);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

section {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem 0;
}

td,
th {
  padding: 0.5rem;
  text-align: center;
  border: 1px solid var(--txt-secondary-color);
}

input[type="number"] {
  width: 3rem;
}

input[type="number"].zero {
  color: var(--txt-secondary-color);
}
input[type="number"]:disabled {
  color: var(--txt-secondary-color);
  cursor: not-allowed;
}

progress {
  accent-color: var(--progress-bar-color);
}
progress.full {
  accent-color: var(--full-progress-bar-color);
}

button {
  cursor: pointer;
  outline: 0;
  display: inline-flex;
  line-height: 1.5;
  text-align: center;
  align-items: center;
  gap: 0.5rem;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
button:hover, button:focus {
  filter: brightness(0.9);
  outline: 1px solid black;
  outline-offset: 2px;
}

.range-group {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid var(--txt-secondary-color);
  border-radius: 0.25rem;
  margin: 0.5rem 0;
}
.range-group.error {
  animation: blink 1s;
  animation-iteration-count: 3;
}
@keyframes blink { 50% { border-color: red; border-width: 2px; } }
.range-group > input[type="range"] {
  width: 4rem;
  flex-grow: 2;
  accent-color: var(--range-color);
}
.range-group > div {
  text-align: center;
  flex-grow: 0.5;
}

.reset-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-button {
  color: var(--txt-alt-color);
  background-color: var(--reset-button-color);
  border-color: var(--reset-button-color);
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.button-group.row {
  flex-direction: row;
}
.button-group.row > button {
  flex-grow: 1;
}

.preset-button {
  color: var(--txt-color);
  background-color: var(--preset-button-color);
  border-color: var(--preset-button-color);
}
.preset-button > div.images > img {
  width: 20px;
  height: 20px;
}

.link-button {
  color: var(--txt-color);
  background-color: var(--link-button-color);
  border-color: var(--link-button-color);
}
.link-button > div.images > img {
  width: 20px;
  height: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding-top: 1rem;
  margin: 0 auto;
  font-size: 10px;
  font-style: italic;
}
footer .icons a {
  padding: 0 5px;
  text-decoration: none;
}